html,
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    background-color: #f0ffff;
    height:100vh;
    background-color: #f0ffff;
}